<div class="backdrop" id="sidebar-backdrop" aria-hidden="true"></div>
<aside id="sidebar" aria-hidden="true">
  <div class="sidebar-title">
    <strong>ATLAS</strong>
    <span>Menu profesor</span>
  </div>
  <nav>
    <ul>
      <li><a href="#institucional">Institucional</a></li>
      <li><a href="#docente-programacion">{{teacher.grupo}}</a></li>
      <li><a href="#sobre-proyecto">Sobre nuestro proyecto</a></li>
    </ul>
  </nav>

  <div class="logout-container" style="text-align: right; padding: 10px;">
    <a href="/logout" class="logout-btn" style="background-color: #14314da6; color: white; padding: 8px 15px; text-decoration: none; border-radius: 5px; font-weight: bold; font-size: 14px; display: inline-block;">
     Cerrar Sesión
    </a>
</div>
</aside>
